:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --main-bgc: #ffffff;
  --secondary-text-color: #212121;
  --secondary-bgc: #2f303a;
  --third-bgc: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --font-weight-bold: 700;
  --font-size-main: 14px;
  --icon-fill: #afb1b8;
  --hover-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-bgc);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.no-scroll {
  overflow: hidden;
}

header {
  border-bottom: 1px solid #ececec;
}

.main-header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 10px;
}

.mob-menu {
  position: fixed;
  background-color: var(--main-bgc);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.mob-close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  display: block;
  cursor: pointer;
  transition: fill var(--hover-effect);
  margin-bottom: 8px;
}

.menu-close-icon {
  fill: var(--secondary-text-color);
}
.mob-close-btn:hover .menu-close-icon, .mob-close-btn:focus .menu-close-icon {
  fill: var(--accent-color);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color var(--hover-effect);
  color: var(--secondary-text-color);
}
.mob-nav__link.current {
  color: var(--accent-color);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-color);
}

.mob-contact__list {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 64px;
}

.mob-contact__link {
  display: block;
}
.mob-contact__link--tel {
  min-width: 296px;
  max-height: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 33px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-contact__link--tel {
    font-size: 34px;
  }
}
.mob-contact__link--mail {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 48px;
}

.mob-soc__item {
  display: flex;
}
.mob-soc__item + .mob-soc__item::before {
  content: "";
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  border: transparent;
}
@media screen and (min-width: 480px) {
  .mob-soc__item + .mob-soc__item::before {
    margin-right: 10px;
  }
}
@media screen and (min-width: 480px) {
  .mob-soc__item + .mob-soc__item {
    margin-left: 10px;
  }
}

.mob-soc__link {
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-soc__item .mob-soc__link {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
.logo--forward {
  color: var(--accent-color);
}
.logo--back {
  color: var(--secondary-text-color);
}

.mob-menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  transition: color var(--hover-effect);
}

.menu-btn-icon {
  fill: var(--secondary-text-color);
}
.mob-menu-btn:hover .menu-btn-icon, .mob-menu-btn:focus .menu-btn-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.main-nav {
  display: none;
}

.main-nav__list {
  display: flex;
}

.main-nav__link {
  display: block;
  position: relative;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color var(--hover-effect);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__link.current {
  color: var(--accent-color);
}

.main-nav__item:not(:last-child) {
  margin-right: 40px;
}

.current::after {
  display: block;
  display: none;
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.contact-header__list {
  display: none;
  display: flex;
  margin-left: auto;
  gap: 50px;
  display: none;
}

.contact-header__link {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: color var(--hover-effect);
}
.contact-header__link:hover, .contact-header__link:focus {
  color: var(--accent-color);
}

.contact-header__link-mail-icon {
  fill: var(--main-text-color);
  transition: fill var(--hover-effect);
}
.contact-header__link:hover .contact-header__link-mail-icon {
  fill: var(--accent-color);
}
.contact-header__link:focus .contact-header__link-mail-icon {
  fill: var(--accent-color);
}

.contact-header__link-tel-icon {
  fill: var(--main-text-color);
  transition: fill var(--hover-effect);
}
.contact-header__link:hover .contact-header__link-tel-icon {
  fill: var(--accent-color);
}
.contact-header__link:focus .contact-header__link-tel-icon {
  fill: var(--accent-color);
}

.hero-section {
  width: 100%;
  text-align: center;
}

.hero {
  padding: 118px 60px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/img-overlay.jpg);
  background-position: center;
}
.hero__title {
  max-width: 320px;
  color: var(--main-bgc);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
  transition: color var(--hover-effect);
}
.hero__button:hover, .hero__button:focus {
  color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(226, 198, 198, 0.15);
  cursor: pointer;
}
.hero__button-name {
  color: var(--main-bgc);
  font-family: "Roboto";
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .benefits-section {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-bottom: 0px;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__link {
  background-color: var(--third-bgc);
  display: flex;
  height: auto;
  max-width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.benefits__link-icon {
  display: block;
  max-width: 100%;
  width: 100%;
}

.benefits__sub-title {
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.benefits__description {
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.job__section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .job__section {
    display: block;
  }
}

.jobs-container-list {
  display: flex;
  gap: 30px;
}

.job-item {
  width: calc((100% - 60px) / 3);
  height: 294px;
  position: relative;
}

.job-title-container {
  position: absolute;
  bottom: 0px;
  display: inline-flex;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.job-item-title {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bgc);
}

.team-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-member {
  background-color: var(--main-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 90px) / 4);
  }
}

.team {
  background-color: var(--third-bgc);
}

.team-member-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link-icon {
  fill: var(--icon-fill);
  transition: fill var(--hover-effect);
}
.social-link:hover .social-link-icon, .social-link:focus .social-link-icon {
  fill: var(--main-bgc);
}

.client-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.client-list-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-list-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  width: 100%;
  display: block;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  transition: border var(--hover-effect);
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-icon {
  width: 100%;
  fill: var(--icon-fill);
  transition: fill var(--hover-effect);
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}

.footer-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}

.address-studio {
  display: inline-block;
  min-width: 209px;
  color: var(--main-bgc);
  text-decoration: none;
  font-size: var(--font-size-main);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.adress-nav {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .adress-nav {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .adress-nav {
    width: auto;
  }
}

.adress-nav .adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 20px;
}

.logo-footer--back {
  color: var(--main-bgc);
}

.contact-footer {
  color: var(--footer-contact);
  text-decoration: none;
  font-size: var(--font-size-main);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  transition: color var(--hover-effect);
}
.contact-footer:hover, .contact-footer:focus {
  color: var(--accent-color);
}

.welcome-container {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .welcome-container {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .welcome-container {
    width: auto;
  }
}

.welcome-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bgc);
  padding-top: 12px;
  margin-bottom: 20px;
}

.social-link-icon-footer {
  fill: var(--main-bgc);
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--hover-effect);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--accent-color);
}

.subscribe-container {
  text-align: center;
  width: 100%;
}

.subscribe-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-wrap {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.subscribe-input {
  padding-left: 16px;
  width: 100%;
  min-height: 50px;
  outline: transparent;
  cursor: pointer;
  color: var(--main-text-color);
  background-color: var(--secondary-bgc);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--hover-effect);
}
.subscribe-input:hover, .subscribe-input:focus {
  border-color: var(--accent-color);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  line-height: 1.875;
  color: var(--main-bgc);
  letter-spacing: 0.06em;
  border-color: transparent;
  transition: box-shadow var(--hover-effect);
}
.subscribe-button span {
  display: flex;
  fill: var(--main-bgc);
  margin-left: 10px;
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: var(--accent-color);
  color: var(--main-bgc);
  box-shadow: 0px 4px 4px rgba(226, 198, 198, 0.15);
  cursor: pointer;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}

.project-link {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: box-shadow var(--hover-effect);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.projects-container {
  display: block;
  border: 1px solid #eeeeee;
  border-top: none;
  padding-right: 23px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.project-name {
  display: block;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.projject-bottom-text {
  position: absolute;
  width: 370px;
  padding: 63px 24px;
  top: 0;
  color: var(--main-bgc);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--hover-effect);
}
.project-link:hover .projject-bottom-text {
  transform: translateY(0);
}
.project-link:focus .projject-bottom-text {
  transform: translateY(0);
}

.filter-button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-button {
  background-color: var(--third-bgc);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: background-color var(--hover-effect), box-shadow var(--hover-effect), border-radius var(--hover-effect);
}
.filter-button:hover, .filter-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-button-name {
  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.filter-button:hover .filter-button-name, .filter-button:focus .filter-button-name {
  color: var(--main-bgc);
}

.filter-button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrope.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  position: absolute;
  padding: 40px 39px 40px 41px;
  margin-bottom: 12px;
  min-width: 320px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  background-color: var(--main-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms linear;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-title {
  margin-bottom: 30px;
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.input-container {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--hover-effect);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  cursor: pointer;
}

.icon-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--hover-effect);
}
.modal-input:hover + .icon-modal, .modal-input:focus + .icon-modal {
  fill: var(--accent-color);
  cursor: pointer;
}
.icon-modal:hover, .icon-modal:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-text {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color var(--hover-effect);
}
.modal-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:hover, .modal-text:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
.button-modal-close:hover, .button-modal-close:focus {
  fill: var(--accent-color);
}

.icon-close-black {
  fill: 0;
}

.button-wrap {
  display: flex;
  text-align: center;
  justify-content: center;
}

.sent-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  background: var(--accent-color);
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  line-height: 1.875;
  color: var(--main-bgc);
  letter-spacing: 0.06em;
  border-color: transparent;
  transition: box-shadow var(--hover-effect);
}
.sent-button:hover, .sent-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.checkbox-text {
  display: flex;
  gap: 6px;
}
.checkbox-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: transparent;
  cursor: pointer;
}
.checkbox-input:checked + .checkbox-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--main-bgc);
}
.checkbox-input:focus + .checkbox-text span {
  border-color: var(--accent-color);
}

.checkbox-contract {
  color: var(--accent-color);
}

.checkbox-input {
  transition: background-color var(--hover-effect), fill var(--hover-effect);
}/*# sourceMappingURL=main.css.map */