.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;

  align-items: center;
  justify-content: center;

  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon-close-black {
  fill: var(--secondary-text-color);
}
