.checkbox-text {
  display: flex;
  gap: 6px;

  & span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
    margin-right: 7px;

    fill: transparent;
    cursor: pointer;

    .checkbox-input:checked + & {
      background-color: var(--accent-color);
      border: none;
      fill: var(--main-bgc);
    }

    .checkbox-input:focus + & {
      border-color: var(--accent-color);
    }
  }
}

.checkbox-contract {
  color: var(--accent-color);
}

.checkbox-input {
  transition: background-color var(--hover-effect), fill var(--hover-effect);
}
