.client-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.client-list-item {
  @include calc(2, 30px);

  @include tablet {
    @include calc(3, 30px);
  }

  @include desktop {
    @include calc(6, 30px);
  }
}

.client-link {
  display: flex;

  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;

  transition: border var(--hover-effect);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client-icon {
  height: 100%;

  fill: var(--icon-fill);

  transition: fill var(--hover-effect);

  .client-link:hover &,
  .client-link:focus & {
    fill: var(--accent-color);
  }
}
