.hero-section {
  text-align: center;
  display: flex;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  min-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/img-overlay.jpg);

  &__title {
    color: var(--main-bgc);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
