
.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.project-link {
  display: block;

  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;

  letter-spacing: 0.03em;

  color: var(--main-text-color);

  transition: box-shadow var(--hover-effect);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.projects-container {
  display: block;

  border: 1px solid #eeeeee;
  border-top: none;
  padding-right: 23px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.project-name {
  display: block;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-bottom: 4px;
}

.projject-bottom-text {
  position: absolute;
  width: 370px;

  padding: 63px 24px;
  top: 0;

  color: var(--main-bgc);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);

  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--hover-effect);

  .project-link:hover & {
    transform: translateY(0);
  }
  .project-link:focus & {
    transform: translateY(0);
  }
}

