.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}

.footer-container {
  display: flex;
  gap: 70px;
}

.address-studio {
  display: inline-block;

  min-width: 209px;

  color: var(--main-bgc);
  text-decoration: none;

  font-size: var(--font-size-main);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.adress-nav .adress-item:not(:last-child) {
  margin-bottom: 9px;
}
