.logo-footer {
  display: block;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;

  margin-bottom: 20px;

  &--back {
    color: var(--main-bgc);
  }
}



