

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--secondary-text-color);
    font-weight: var(--font-weight-bold);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}