.job__section {
  display: none;

  @include desktop {
    display: block;
  }
}

.jobs-container-list {
  display: flex;

  gap: 30px;
}

.job-item {
  width: calc((100% - 60px) / 3);
  height: 294px;
  position: relative;
}

.job-title-container {
  position: absolute;
  bottom: 0px;
  display: inline-flex;

  background: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.job-item-title {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-bgc);
}
